<html>
<head>
  <title>Update Settings</title>
  <meta name="decorator" content="atl.admin">
</head>
<body>
<table width="100%" cellspacing="0" cellpadding="10" border="0">
  <tbody>
  <tr>
    <td>
      <table class="jiraform maxWidth">
        <tbody>
        <tr class="titlerow">
          <td class="jiraformheader" colspan="2">
            <h3 class="formtitle">Settings</h3>
          </td>
        </tr>
        <tr>
          <td class="jiraformbody">
            <form action="configureEmailNotifyPlugin!update.jspa" method="post">
              <table>
                <tr>
                  <td class="fieldLabelArea">Version Change Notifications</td>
                  <td class="fieldValueArea">
                    <input type="checkbox"
                           name="versionChanges"
                    #if($versionEnabled)checked="checked"#end
                    />
                    <div class="fieldDescription">Notify changes to versions</div>
                  </td>
                  <td class="fieldValueArea">
                    <input type="text" style="width:100%" name="versionChangesEmails" value="$versionRecipients"/>
                    <div class="fieldDescription">A comma delimited list of emails to notify</div>
                  </td>
                </tr>
                <tr>
                  <td class="fieldLabelArea">Issue Change Notifications</td>
                  <td class="fieldValueArea">
                    <input type="checkbox"
                           name="issueUpdated"
                    #if($issueEnabled)checked="checked"#end
                    />
                    <div class="fieldDescription">Notify when a condition is met</div>
                  </td>
                  <td class="fieldValueArea">
                    <textarea name="updateCondition" style="height: 200px; width:100%">$textutils.htmlEncode($updateCondition)</textarea>
                    <div class="fieldDescription">A groovy script condition. The updated <code>issue</code> and <code>changes</code> (a map of changed fieldNames to field value changes) are supplied in the binding.</div>
                  </td>
                  <td class="fieldValueArea">
                    <input type="text" style="width:100%" name="issueRecipients" value="$updateRecipients"/>
                    <div class="fieldDescription">A comma delimited list of emails to notify (in addition to the user that updated the issue)</div>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td class="fieldValueArea">
                    <textarea name="updateMessage" style="height: 200px; width:100%">$textutils.htmlEncode($updateMessage)</textarea>
                    <div class="fieldDescription">A groovy expression that should return a <code>GString</code> containing a notification message. The updated <code>issue</code> and <code>changes</code> (a map of changed fieldNames to field value changes) are supplied in the binding.</div>
                  </td>
                  <td class="fieldValueArea">
                    <input type="text" style="width:100%" name="updateSubject" value="$updateSubject"/>
                    <div class="fieldDescription">A groovy expression that should return a <code>GString</code> containing an email subject.</div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <input type="submit" value="Save Settings">
                  </td>
                </tr>
              </table>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>